<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Name | Project Name</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <script src="https://kit.fontawesome.com/b06605e970.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="container">

        <!-- Header -->
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-1 left">
                        <div class="row">
                            <div class="logo left">
                                <a href="#">
                                    <img class="w-100" src="assets/images/logo.png" alt="logo">
                                </a>
                            </div>
                            <div class="search right">
                                <form action="#">
                                    <input type="text">
                                    <button class="btn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 right">
                        <ul>
                            <li>
                                <span>NCR <i class="fas fa-caret-down"></i></span>
                            </li>
                            <li>
                                <a href="#">Sign In</a>
                            </li>
                            <li>
                                <i class="fas fa-bars"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">

            <div id="section_1">
                <div class="container">
                    <h2>Recommended Movies</h2>
                    <div class="row">
                        <div class="left">
                            <div class="box">
                                <a href="#">
                                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-ODIlICAyNWsgdm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00114897-kyuzawsptx-portrait.jpg" alt="">

                                    <h4>Gangubai kathiawadi</h4>
                                    <span>Biography/Crime/Drama</span>
                                </a>
                            </div>
                        </div>
                        <div class="left">
                            <div class="box">
                                <a href="#">
                                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-ODklICA0ayB2b3Rlcw%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00321073-lezsakdrnn-portrait.jpg" alt="">

                                    <h4>Valimai: The Power</h4>
                                    <span>Action/Thriller</span>
                                </a>
                            </div>
                        </div>
                        <div class="left">
                            <div class="box">
                                <a href="#">
                                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-ODclICA5Nzcgdm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00322150-kqzkcrjpff-portrait.jpg" alt="">

                                    <h4>Gangubai kathiawadi</h4>
                                    <span>Biography/Crime/Drama</span>
                                </a>
                            </div>
                        </div>
                        <div class="left">
                            <div class="box">
                                <a href="#">
                                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-NjklICAxM2sgdm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00128949-fwcdhpwfkw-portrait.jpg" alt="">

                                    <h4>Gangubai kathiawadi</h4>
                                    <span>Biography/Crime/Drama</span>
                                </a>
                            </div>
                        </div>
                        <div class="left">
                            <div class="box">
                                <a href="#">
                                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-NzklICAxN2sgdm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00311712-rmbhajpxeq-portrait.jpg" alt="">

                                    <h4>Gangubai kathiawadi</h4>
                                    <span>Biography/Crime/Drama</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        

        <!-- Footer -->

    </div>
    
</body>
</html>